@use "../../styles/variables" as v;

.hero {
    width: min(100% - 3rem, 120rem);
    margin-inline: auto;
    padding-block: clamp(4rem, 3rem + 4vw, 8rem);
    margin-top: 20dvh;
    display: flex;
    justify-content: center;
    padding-bottom: 18rem;
    
    &__content {
        max-width: min(100%, 90rem);
        display: flex;
        justify-content: center;
        gap: 15rem;
    }

    &__work {
        flex: 1;

        &__title {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            color: rgb(226, 226, 227);

            & span {
                font-size: clamp(2rem, 4.7vw, 5.2rem);
                font-family: "Montserrat-ExtraBold";
                line-height: 1;
                text-transform: uppercase;
            }

            &__word--2 {
                width: fit-content;
                background-image: linear-gradient(to right, rgb(180, 212, 0), rgb(87, 27, 193));
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;

            }
        }

        &__description {
            max-width: 90%;
            font-size: clamp(1rem, 1.2vw, 1.3rem);
            font-weight: 500;
            color: rgb(200, 197, 202);
            font-family: "Inter";
            margin-top: 0.8rem;
            line-height: 1.5;
            border-left: 3px solid rgb(180, 212, 0);
            padding-inline-start: 1.5rem;
        }

        &__button-container {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            padding-inline-start: 0.1rem;

            &__button--work {
                padding: 1.1rem 1.5rem;
                font-size: clamp(0.8rem, 1vw, 0.7rem);
                text-transform: uppercase;
                margin-right: 0;
            }

            &__button--contact {
                cursor: pointer;
                padding: 1.1rem 1.5rem;
                font-size: clamp(0.8rem, 1vw, 0.7rem);
                background-color: transparent;
                border: 1px solid white;
                color: rgb(247, 247, 247);
                font-family: "Inter-Semibold";
                letter-spacing: 1.2px;
                text-transform: uppercase;
                border-radius: 2rem;
                transition:
                    color 0.3s ease,
                    border-color 0.3s ease;

                &:hover {
                    color: rgb(180, 212, 0);
                    border-color: rgb(180, 212, 0);
                }
            }

        }

        &__socials {
            display: flex;
            align-items: center;
            gap: clamp(1rem, 5vw, 6rem);
            margin-top: 3rem;

            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.2rem;
                color: rgb(180, 212, 0);
                transition: color 0.2s ease-in-out;
                text-decoration: none;

                transition:
                    color 180ms ease,
                    filter 180ms ease,
                    transform 180ms ease;

                &:hover {
                    color: rgb(87, 27, 193);
                    transform: translateY(-2px);
                }

                &:hover &__icon--1 {
                    color: rgb(0, 140, 255);
                    filter: drop-shadow(0 0 2px rgb(0, 140, 255));
                }

                &:hover &__icon--2 {
                    color: rgb(255, 255, 255);
                    filter: drop-shadow(0 0 2px rgb(234, 231, 240));
                }

                & svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    transition:
                        color 180ms ease,
                        filter 180ms ease,
                        transform 180ms ease;
                }

                span {
                    font-size: clamp(0.8rem, 1vw, 0.9rem);
                    font-family: "Inter-Semibold";
                    letter-spacing: 1.2px;
                }
            }
        }
    }

    &__avatar {
        flex: 0 0 27rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &__background {
            anchor-name: --background-ref;
            width: 100%;
            background-image: url('../../assets/grid-pattern.svg');
            height: 40rem;
            border: 1px solid rgba(207, 169, 240, 0.406);
            margin-top: 0.4rem;
            border-radius: 1rem;
            position: relative;

            animation: back-pulse 2s ease-in-out infinite;

            &::before {
                content: '';
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(85, 22, 190, 0.3) 100% 100%);*/
                background-color: rgb(21, 21, 28);
                border-radius: inherit;
                opacity: 0.58;

            }

            &__circle {
                width: clamp(1.5rem, 7vw, 8.5rem);

                position: absolute;
                z-index: 1;
                top: 45%;
                left: 50%;
                transform: translate(80%, 80%);

                aspect-ratio: 1;
                border: 1px solid rgb(180, 212, 0);
                border-radius: 50%;

                animation: rotate-circle 10s linear infinite;
            }

            &__square {
                width: 47%;
                height: 43%;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                border: 1px solid rgba(207, 169, 240, 0.406);
                border-radius: 0.5rem;
                background: rgba(21, 21, 28, 0.872);
                z-index: 1;
                transition: box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 0 0 1.2rem rgba(180, 212, 0, 0.575);
                }


                &::after {
                    content: "";
                    position: absolute;

                    width: 80%;
                    aspect-ratio: 1;

                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -40%);

                    border-radius: 50%;
                    border: 5px solid rgb(79, 58, 123);
                    background: rgb(36, 22, 66);

                    filter: blur(1rem);
                    pointer-events: none;
                    z-index: 2;
                }

                &__line--1 {
                    position: absolute;
                    bottom: 10%;
                    left: 0;
                    width: 85%;
                    height: 0.25rem;
                    margin-left: 0.8rem;
                    background-color: rgb(103, 116, 22);

                    z-index: 3;
                }

                &__line--2 {
                    position: absolute;
                    bottom: 5%;
                    left: 0;
                    width: 50%;
                    height: 0.25rem;
                    margin-left: 0.8rem;
                    background-color: rgb(71, 79, 26);

                    z-index: 3;
                }
            }

            &__glow {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 18rem;
                aspect-ratio: 1;
                border-radius: 50%;

                background: rgb(91, 48, 184);
                filter: blur(5rem);

                animation: front-pulse 2s ease-in-out infinite;
                z-index: -1;
            }

            &__text {
                position: absolute;
                bottom: 7%;
                left: 5%;
                font-size: clamp(0.7rem, 1vw, 0.8rem);
                color: rgb(180, 212, 0);
                font-family: "Inter-ExtraBold";
                text-transform: uppercase;
                letter-spacing: 1.2px;
                transform: rotate(90deg);
            }
        }
    }
}

@keyframes back-pulse {
    0% {
        box-shadow:
            0 0 1rem rgba(33, 21, 58, 0.678),
            0 0 2rem rgba(91, 48, 184, 0.568);
    }

    25% {
        box-shadow:
            0 0 1rem rgba(33, 21, 58, 0.808),
            0 0 2rem rgba(91, 48, 184, 0.795);
    }

    50% {
        box-shadow:
            0 0 1rem rgb(33, 21, 58),
            0 0 2rem rgb(91, 48, 184);
    }

    75% {
        box-shadow:
            0 0 1rem rgba(33, 21, 58, 0.808),
            0 0 2rem rgba(91, 48, 184, 0.795);
    }

    100% {
        box-shadow:
            0 0 1rem rgba(33, 21, 58, 0.678),
            0 0 2rem rgba(91, 48, 184, 0.568);
    }
}

@keyframes rotate-circle {
    from {
        transform: translate(-60%, -85%) rotate(0deg);
    }

    to {
        transform: translate(-60%, -85%) rotate(360deg);
    }
}

@keyframes front-pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.9;
    }
}